@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 4em;
  margin-top: 0.5em;
}

h2 {
  font-size: 2em;
}

.container li {
  font-size: 1.5rem;
  margin: 2rem 0;
}